.base {
    &-bg {
        &-home{
            background: url('../assets/home/background-home-mobile.jpg') no-repeat center / cover;
            @include breakpoint-up(large) {
                background: url('../assets/home/background-home-desktop.jpg') no-repeat center / cover;
            }
        }

        &-destination {
            background-image: url('../assets/destination/background-destination-mobile.jpg') no-repeat center / cover;
            @include breakpoint-up(large) {
                    background: url('../assets/destination/background-destination-desktop.jpg') no-repeat center / cover;
            }
    
        }

        &-crew {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
            url('../assets/crew/background-crew-mobile.jpg') no-repeat center / cover ;
            @include breakpoint-up(large) {
                    background: url('../assets/crew/background-crew-desktop.jpg') no-repeat center / cover;
                      
            }
        }

        &-tech {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
            url('../assets/technology/background-technology-mobile.jpg') no-repeat center / cover ;
            @include breakpoint-up(large) {
                    background: url('../assets/technology/background-technology-desktop.jpg') no-repeat center / cover;
                    
            }
    
        }
    }
}