.common {
    &-header {
        margin: 0;
        font-family: Barlow Condensed;
        font-size: $font-subheading-m;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: $blueish;

        @include breakpoint-up(medium) {
            font-size: 1.25rem;
            letter-spacing: 3.375px;
        }
        @include breakpoint-up(large) {
            font-size: $font-sm;
            letter-spacing: 4.725px;
            line-height: 2.125rem;
        }
    }
}