.navpanel {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 4;
    height: 100%;
    width: 15.875rem;
    background-color: rgba($color: #000, $alpha: .3);
    margin-left: auto;
    right: 0;
    top: 0;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
      }
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        
        background-color: rgba($color: #000, $alpha: .9);
    }

    @include breakpoint-up(medium) {
        
        position: relative;
        opacity: 1;
        flex-direction: row;
        height: 6rem;
        width: 62.2%;
        top: 0rem;
        margin-left: auto;
        gap: 3rem;

    }


    @include breakpoint-up(large) {
        z-index: 7;
        position: relative;
        opacity: 1;
        flex-direction: row;
        height: 6rem;
        max-width: 58%;
        top: 2.5rem;
        margin-left: auto;
        gap: 3rem;

        &-line {
            z-index: 8;
            position: absolute;
            display: inline-block;
            background-color: rgba($color: #fff, $alpha: .25);
            height: 1px;
            width: 24%;
            top: 5.6rem;
            left: 20%;
        }
    }

   &-text {
       flex: 1;
       order: 1;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 7.375rem;

        a {
            text-decoration: none;
            margin-left: 2rem;
            color: $white;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: $font-subheading-m;
            line-height: 1.187rem;
            letter-spacing: 0.16875rem;
            text-transform: uppercase;
            word-spacing: .7rem;

            @include breakpoint-up(large) {
                margin-left: 0;
                word-spacing: .5rem;
                letter-spacing: 2.7px;
            }
        }

        @include breakpoint-up(medium) {
            flex-direction: row;
            gap: 0rem;
            margin: 0;
            padding: 0;
            align-items: center;
        }
        @include breakpoint-up(large) {
            flex-direction: row;
            gap: 1.8rem;
            margin: 0;
            padding: 0;
            margin-left: 7%;
            justify-content: flex-start;
        }

        span {
            margin: 0;
            @extend .common-para;
            font-weight: bold;
            @include breakpoint-up(medium) {
                display: none;
            }

            @include breakpoint-up(large) {
                display: inline;
            }

        }

        
   }

}