.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 2.5rem;
    width: 85%;
    margin: 1.5rem auto auto auto;

    @include breakpoint-up(medium) {
        position: absolute;
        z-index: -1;
        height: 3rem;
        margin-top: 4rem;
        margin-left: 3.4375rem;
    }
    
    &-logo {
        flex: 4;
        order: 1;
       background: url('../assets/shared/logo.svg');
       background-repeat: no-repeat;
       background-size: contain;
       max-width: 2.5rem;
       height: 2.5rem;
       align-items: flex-start;

       @include breakpoint-up(meidum) {
        flex: 1;
        width: 3rem;
        height: 3rem;
       }
    }

    &-menu {
        flex: 1;
        order: 2;
        z-index: 10;
        height: .2rem;
        max-width: 1.5rem;
        margin: auto 0 auto auto;
        cursor: pointer;
       

        span {
            opacity: 1;
            position: absolute;
            min-height: 2.5px;
            background: #fff;
            // border-radius: 9px;
            cursor: pointer;
        }

        span:nth-child(1){
            width: 1.5rem;
            transform: rotate(0deg);
            top: 10px;
        }
        span:nth-child(2){
            width: 1.5rem;
            opacity: 1;
            top: 20px;
        }
        span:nth-child(3){
            width: 1.5rem;
            transform: rotate(0deg);
            top: 30px;
        }

        @include breakpoint-up(medium) {
            display: none;
        }

    }


}