.crew-bg{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/crew/background-crew-mobile.jpg') no-repeat ;
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint-up(large) {
                background: url('../assets/crew/background-crew-desktop.jpg') no-repeat;
                background-size: cover;
        }
}