.tech-bg{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/technology/background-technology-mobile.jpg') no-repeat ;
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint-up(large) {
                background: url('../assets/technology/background-technology-desktop.jpg') no-repeat;
                background-size: cover;
                
        }
}