@keyframes BtnOn {
    0%{background-color: #000;
        color: #fff;
    }
    // 50%{background-color: #777;}
    100%{background-color: #fff;
        color: #000;
    }
}

.btnon {
    animation: BtnOn .4s;
    background-color: #fff;
    color: #000;
}

@keyframes BtnOff {
    0%{background-color: #fff;}
    50%{background-color: #777;}
    100%{background-color: #000;}
}

.btnoff {
    animation: BtnOff .4s;
    background-color: #000;
    color: #fff;
    border: 1px solid rgba($color: #fff, $alpha: .5);
    &:hover {
        border: 1px solid rgba($color: #fff, $alpha: 1);
    }
}