@keyframes openPanel {
  0% {
        opacity: 0.5;
        width: 0rem;
  }
  
  100% {
    opacity: 1;
    width: 15.875rem;
  }
}

.open {
    @include breakpoint-down (small) {
        animation: openPanel .5s;
        opacity: 1;
        width: 15.875rem;
    }
}

@keyframes closePanel {
    0% {
        opacity: 1;
        width: 15.875rem;
    }
    100% {
        opacity: 0.5;
        width: 0rem;
    }
}

.close {

    @include breakpoint-down(small){
        animation: closePanel .3s;
        opacity: 0;
        width: 0rem;
      
    }
}