@keyframes Active {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

.state {
    &-active::after {
        content: "";
        position: absolute;
        height: 2rem;
        left: auto;
        right: 0;
        transform: translateY(-20%);
        border-right: 3px solid $white;
        @include breakpoint-up(medium) {
            position: relative;
            top: 1.9rem;
            height: 0;
            border-right: none;
            padding-left: 0;
            display: block;
            animation: Active 1s;
            width: 100%;
            opacity: 1;
            border-bottom: 3px solid $white;
        }
    }
}