body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 50vh;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Bellefair', serif;
}

// h5, p {
//     font-family: 'Barlow Condensed', sans-serif;
// }

.active {
    opacity: 1;
}

.inactive {
    opacity: .67;
}
.btn-on {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

@keyframes remove {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }

