body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4 {
    font-family: 'Bellefair', serif;
}

h5, p {
    font-family: 'Barlow Condensed', sans-serif;
}

