.navpanel {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 4;
    height: 100%;
    width: 15.875rem;
    background-color: rgba($color: #000, $alpha: .3);

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
      }
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        
        background-color: rgba($color: #000, $alpha: .9);
    }

    margin-left: auto;
    right: 0;
    top: 0;
    transition: all 300ms ease-in-out;
    visibility: hidden;

    @include breakpoint-up(large) {
        z-index: 7;
        position: relative;
        flex-direction: row;
        visibility: visible;
        height: 6rem;
        width: 65%;
        top: 2.5rem;
        margin-left: auto;

        &-line {
            z-index: 8;
            position: fixed;
            display: inline-block;
            background-color: rgba($color: #fff, $alpha: .25);
            height: 1px;
            width: 24%;
            top: 5.6rem;
            left: 20%;
        }
    }

    &-close {
        position: absolute;
        background-image: url('../assets/shared/icon-close.svg');
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.3125rem;
        left: 11rem;
        top: 2.121875rem;

        @include breakpoint-up(large) {
            display: none;
            left: 0;
        }
    }

    a {
        text-decoration: none;
        margin-left: 2rem;
        color: $white;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: $font-subheading-m;
        line-height: 1.187rem;
        letter-spacing: 0.16875rem;
        text-transform: uppercase;
        word-spacing: .7rem;

        @include breakpoint-up(large) {
            margin-top: 2.4375rem;
            
        }
        
    }

    &-home {
       margin-top: 7.3rem;

       @include breakpoint-up(large) {
            padding-left: 12%;
        }
        
    }
}