//Colors
$blackish: #0B0D17;
$blueish: #D0D6F9;
$white: #FFFFFF;

//Fonts
//Headers
$font-xl: 9.375rem; 
$font-l: 6.25rem;
$font-m: 3.5rem;
$font-sm: 2rem;
$font-xsm: 1.75rem;
//Subs
$font-subheading-l: 1.75rem;
$font-subheading-m: 1rem;
//body/misc
$font-body: 1.125rem;



