.background{
        background-image: url('../assets/home/background-home-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint-up(large) {
                background: url('../assets/home/background-home-desktop.jpg') no-repeat;
                background-size: cover;
        }
}