body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 50vh;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Bellefair', serif;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: .67;
}

.btn-on {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

@-webkit-keyframes remove {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes remove {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

:root {
  --height: 80vh;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 64em) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: left;
    width: 75%;
    max-height: 50rem;
    gap: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    text-align: left;
    padding: .5rem;
  }
}

.main-header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .16875rem;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-header {
    margin: 0;
    -ms-grid-row: 1;
    grid-row: 1 / 1;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    font-size: 1.75rem;
    height: 50%;
    width: 30vw;
  }
}

.main-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10.625rem;
  height: 10.625rem;
  margin-bottom: 1.625rem;
}

@media (min-width: 64em) {
  .main-image {
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    width: 27.875rem;
    height: 27.875rem;
  }
}

.main-image-crew {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 13.935rem;
  margin-left: 20%;
  margin-right: auto;
}

@media (min-width: 64em) {
  .main-image-crew {
    z-index: 8;
    -ms-grid-row: 1;
    grid-row: 1 / 1;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    width: 100%;
    min-height: 100%;
    margin-right: 5rem;
  }
}

.main-image-tech {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  width: 100vw;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 64em) {
  .main-image-tech {
    z-index: 8;
    -ms-grid-row: 1;
    grid-row: 1 / 1;
    -ms-grid-column: 4;
    grid-column: 4 / 4;
    width: 30vw;
    height: 45vh;
    right: 0;
    margin-left: auto;
    margin-top: 5rem;
  }
}

.main-tech {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  width: 55%;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .main-tech {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 /3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    margin: 0;
    margin-right: auto;
    margin-top: 8rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.main-tech-btn {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

@media (min-width: 64em) {
  .main-tech-btn {
    min-width: 5rem;
    min-height: 5rem;
    line-height: 5rem;
  }
}

.main-names {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.625rem;
  margin: 0;
  margin-bottom: 2rem;
}

.main-names a {
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.14765rem;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .main-names a {
    font-size: 1rem;
  }
}

@media (min-width: 64em) {
  .main-names {
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
  }
}

.main-title {
  margin: 0;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4rem;
  text-transform: uppercase;
  margin-bottom: .2rem;
}

@media (min-width: 64em) {
  .main-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    font-size: 6.25rem;
    margin-top: 13%;
  }
}

.main-title-crew {
  margin: 0;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .main-title-crew {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    margin-top: 11rem;
    font-size: Max(3vw, 3rem);
  }
}

.main-title-tech {
  margin: 0;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .main-title-tech {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
    margin-top: 11rem;
    font-size: Max(3vw, 3rem);
    margin-left: 7rem;
  }
}

.main-subhead {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin: .5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1rem;
}

@media (min-width: 64em) {
  .main-subhead {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    width: 100%;
    height: 50%;
    margin: 0;
    margin-top: 8rem;
    font-size: 2rem;
  }
}

.main-subhead-tech {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin: .5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1rem;
}

@media (min-width: 64em) {
  .main-subhead-tech {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ 3;
    width: 100%;
    height: 50%;
    margin: 0;
    margin-top: 8.4rem;
    font-size: 1rem;
    margin-left: 7rem;
  }
}

.main-body {
  margin: 0;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #D0D6F9;
  letter-spacing: .09rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-body {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    margin-top: 29%;
    font-size: 1.125rem;
    width: 76%;
    letter-spacing: 0.1rem;
    line-height: 2rem;
  }
}

.main-body-crew {
  margin: 0;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #D0D6F9;
  letter-spacing: .09rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-body-crew {
    height: 50%;
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-top: 15rem;
    font-size: 1.2rem;
  }
}

.main-body-tech {
  margin: 0;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #D0D6F9;
  letter-spacing: .09rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-body-tech {
    height: 50%;
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 15rem;
    font-size: 1.2rem;
    margin-left: 7rem;
  }
}

.main-divider {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  height: 1px;
  width: 100%;
  background-color: #383B4B;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-divider {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    margin-top: 62%;
    width: 78%;
  }
}

.main-divider-crew {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 1px;
  width: 100%;
  background-color: #383B4B;
  top: 0;
}

@media (min-width: 64em) {
  .main-divider-crew {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 /2;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    margin-top: 36rem;
  }
}

.main-slider {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 30%;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main-slider-circle {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}

@media (min-width: 64em) {
  .main-slider {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-top: 30rem;
    margin-right: 25rem;
  }
}

.main-avg {
  margin: 0;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  letter-spacing: 0.147656rem;
  color: #D0D6F9;
  margin-bottom: 0.75rem;
}

@media (min-width: 64em) {
  .main-avg {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    margin-top: 68%;
  }
}

.main-km {
  margin: 0;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #D0D6F9;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main-km {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    margin-top: 72%;
  }
}

.main-est {
  margin: 0;
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.147656rem;
  color: #D0D6F9;
  margin-bottom: 0.75rem;
}

@media (min-width: 64em) {
  .main-est {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    margin-top: 68%;
    margin-left: 40%;
  }
}

.main-time {
  margin: 0;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #D0D6F9;
}

@media (min-width: 64em) {
  .main-time {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    margin-top: 72%;
    margin-left: 40%;
  }
}

.btn-off {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

.bg-home {
  background: url("../assets/home/background-home-mobile.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 40em) {
  .bg-home {
    background: url("../assets/home/background-home-tablet.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 64em) {
  .bg-home {
    background: url("../assets/home/background-home-desktop.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.bg-destination {
  background: url("../assets/destination/background-destination-mobile.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 40em) {
  .bg-destination {
    background: url("../assets/destination/background-destination-tablet.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 64em) {
  .bg-destination {
    background: url("../assets/destination/background-destination-desktop.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.bg-crew {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/crew/background-crew-mobile.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/crew/background-crew-mobile.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 40em) {
  .bg-crew {
    background: url("../assets/crew/background-crew-tablet.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 64em) {
  .bg-crew {
    background: url("../assets/crew/background-crew-desktop.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.bg-tech {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/technology/background-technology-mobile.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/technology/background-technology-mobile.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 40em) {
  .bg-tech {
    background: url("../assets/technology/background-technology-tablet.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 64em) {
  .bg-tech {
    background: url("../assets/technology/background-technology-desktop.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  height: 2.5rem;
  width: 85%;
  margin: 1.5rem auto auto auto;
}

@media (min-width: 40em) {
  .navbar {
    position: absolute;
    margin: 1.5rem 0 0 2.4375rem;
    height: 3rem;
  }
}

@media (min-width: 64em) {
  .navbar {
    position: absolute;
    height: 3rem;
    margin-top: 4rem;
    margin-left: 3.4375rem;
  }
}

.navbar-logo {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: url("../assets/shared/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 2.5rem;
  max-height: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 40em) {
  .navbar-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 3rem;
    max-height: 4rem;
  }
}

.navbar-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 10;
  height: .2rem;
  max-width: 1.5rem;
  margin: auto 0 auto auto;
  cursor: pointer;
}

.navbar-menu span {
  opacity: 1;
  position: absolute;
  min-height: 2.5px;
  background: #fff;
  cursor: pointer;
}

.navbar-menu span:nth-child(1) {
  width: 1.5rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 10px;
}

.navbar-menu span:nth-child(2) {
  width: 1.5rem;
  opacity: 1;
  top: 20px;
}

.navbar-menu span:nth-child(3) {
  width: 1.5rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 30px;
}

@media (min-width: 40em) {
  .navbar-menu {
    display: none;
  }
}

.navpanel {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  z-index: 4;
  height: 100%;
  width: 15.875rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: auto;
  right: 0;
  top: 0;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navpanel {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navpanel {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@media (min-width: 40em) {
  .navpanel {
    position: relative;
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 6rem;
    width: 62.2%;
    top: 0rem;
    margin-left: auto;
    gap: 3rem;
  }
}

@media (min-width: 64em) {
  .navpanel {
    z-index: 7;
    position: relative;
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 6rem;
    max-width: 58%;
    top: 2.5rem;
    margin-left: auto;
    gap: 3rem;
  }
  .navpanel-line {
    z-index: 8;
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.25);
    height: 1px;
    width: 24%;
    top: 5.6rem;
    left: 20%;
  }
}

.navpanel-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-top: 7.375rem;
}

.navpanel-text a {
  text-decoration: none;
  margin-left: 2rem;
  color: #FFFFFF;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.187rem;
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
  word-spacing: .7rem;
}

@media (min-width: 64em) {
  .navpanel-text a {
    margin-left: 0;
    word-spacing: .5rem;
    letter-spacing: 2.7px;
  }
}

@media (min-width: 40em) {
  .navpanel-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0rem;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 64em) {
  .navpanel-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.8rem;
    margin: 0;
    padding: 0;
    margin-left: 7%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navpanel-text span {
  margin: 0;
  font-weight: bold;
}

@media (min-width: 40em) {
  .navpanel-text span {
    display: none;
  }
}

@media (min-width: 64em) {
  .navpanel-text span {
    display: inline;
  }
}

.common-header, .home-header, .destination-fh-header, .crew-fh-header {
  margin: 0;
  font-family: Barlow Condensed;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #D0D6F9;
}

@media (min-width: 40em) {
  .common-header, .home-header, .destination-fh-header, .crew-fh-header {
    font-size: 1.25rem;
    letter-spacing: 3.375px;
  }
}

@media (min-width: 64em) {
  .common-header, .home-header, .destination-fh-header, .crew-fh-header {
    font-size: 2rem;
    letter-spacing: 4.725px;
    line-height: 2.125rem;
  }
}

.common-title, .home-title, .home-btn, .destination-sh-title, .destination-sh-footer-distance-units, .destination-sh-footer-time-units, .crew-fh-subheader, .crew-fh-title {
  margin: 0;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

.common-para, .navpanel-text span, .home-para, .destination-sh-options a, .destination-sh-para, .destination-sh-footer-distance-text, .destination-sh-footer-time-text, .crew-fh-para {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  color: #D0D6F9;
  line-height: 1.5625rem;
  text-align: center;
}

@media (min-width: 40em) {
  .common-para, .navpanel-text span, .home-para, .destination-sh-options a, .destination-sh-para, .destination-sh-footer-distance-text, .destination-sh-footer-time-text, .crew-fh-para {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 64em) {
  .common-para, .navpanel-text span, .home-para, .destination-sh-options a, .destination-sh-para, .destination-sh-footer-distance-text, .destination-sh-footer-time-text, .crew-fh-para {
    text-align: left;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #D0D6F9;
  }
}

@-webkit-keyframes openPanel {
  0% {
    opacity: 0.5;
    width: 0rem;
  }
  100% {
    opacity: 1;
    width: 15.875rem;
  }
}

@keyframes openPanel {
  0% {
    opacity: 0.5;
    width: 0rem;
  }
  100% {
    opacity: 1;
    width: 15.875rem;
  }
}

@media (max-width: 39.9375em) {
  .open {
    -webkit-animation: openPanel .5s;
            animation: openPanel .5s;
    opacity: 1;
    width: 15.875rem;
  }
}

@-webkit-keyframes closePanel {
  0% {
    opacity: 1;
    width: 15.875rem;
  }
  100% {
    opacity: 0.5;
    width: 0rem;
  }
}

@keyframes closePanel {
  0% {
    opacity: 1;
    width: 15.875rem;
  }
  100% {
    opacity: 0.5;
    width: 0rem;
  }
}

@media (max-width: 39.9375em) {
  .close {
    -webkit-animation: closePanel .3s;
            animation: closePanel .3s;
    opacity: 0;
    width: 0rem;
  }
}

@-webkit-keyframes menuOpen1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 10px;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
  }
}

@keyframes menuOpen1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 10px;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
  }
}

@-webkit-keyframes menuOpen2 {
  0% {
    width: 1.5rem;
    opacity: 1;
  }
  100% {
    width: 0rem;
    opacity: 0;
  }
}

@keyframes menuOpen2 {
  0% {
    width: 1.5rem;
    opacity: 1;
  }
  100% {
    width: 0rem;
    opacity: 0;
  }
}

@-webkit-keyframes menuOpen3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 30px;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
}

@keyframes menuOpen3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 30px;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
}

.menu-open span:nth-child(1) {
  -webkit-animation: menuOpen1 .5s;
          animation: menuOpen1 .5s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 20px;
}

.menu-open span:nth-child(2) {
  -webkit-animation: menuOpen2 .5s;
          animation: menuOpen2 .5s;
  width: 0rem;
  opacity: 0;
}

.menu-open span:nth-child(3) {
  -webkit-animation: menuOpen3 .5s;
          animation: menuOpen3 .5s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px;
}

@-webkit-keyframes menuClose1 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 10px;
  }
}

@keyframes menuClose1 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 10px;
  }
}

@-webkit-keyframes menuClose2 {
  0% {
    width: 0rem;
    opacity: 0;
  }
  100% {
    width: 1.5rem;
    opacity: 1;
  }
}

@keyframes menuClose2 {
  0% {
    width: 0rem;
    opacity: 0;
  }
  100% {
    width: 1.5rem;
    opacity: 1;
  }
}

@-webkit-keyframes menuClose3 {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 30px;
  }
}

@keyframes menuClose3 {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 30px;
  }
}

.menu-close span:nth-child(1) {
  -webkit-animation: menuClose1 .3s;
          animation: menuClose1 .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 10px;
}

.menu-close span:nth-child(2) {
  -webkit-animation: menuClose2 .3s;
          animation: menuClose2 .3s;
}

.menu-close span:nth-child(3) {
  -webkit-animation: menuClose3 .3s;
          animation: menuClose3 .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 30px;
}

@-webkit-keyframes Active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.state-active::after {
  content: "";
  position: absolute;
  height: 2rem;
  left: auto;
  right: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  border-right: 3px solid #FFFFFF;
}

@media (min-width: 40em) {
  .state-active::after {
    position: relative;
    top: 1.9rem;
    height: 0;
    border-right: none;
    padding-left: 0;
    display: block;
    -webkit-animation: Active 1s;
            animation: Active 1s;
    width: 100%;
    opacity: 1;
    border-bottom: 3px solid #FFFFFF;
  }
}

@keyframes Active {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Inactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

@keyframes Inactive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

.options-active {
  -webkit-animation: Active 1s;
          animation: Active 1s;
  opacity: 1;
}

.options-inactive {
  -webkit-animation: Inactive 1s;
          animation: Inactive 1s;
  opacity: .5;
}

@-webkit-keyframes SwipeLeftRemove {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes SwipeLeftRemove {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes SwipeRightRemove {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes SwipeRightRemove {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

.swipe-left-remove {
  -webkit-animation: SwipeLeftRemove .3s;
          animation: SwipeLeftRemove .3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.swipe-right-remove {
  -webkit-animation: SwipeRightRemove .3s;
          animation: SwipeRightRemove .3s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

@-webkit-keyframes SwipeRightAdd {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes SwipeRightAdd {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes SwipeLeftAdd {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes SwipeLeftAdd {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.swipe-left-add {
  -webkit-animation: SwipeLeftAdd .3s;
          animation: SwipeLeftAdd .3s;
}

.swipe-right-add {
  -webkit-animation: SwipeRightAdd .3s;
          animation: SwipeRightAdd .3s;
}

@-webkit-keyframes ItemRemove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ItemRemove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.item-remove {
  -webkit-animation: ItemRemove 1s;
          animation: ItemRemove 1s;
}

@-webkit-keyframes ItemAdd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ItemAdd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item-add {
  -webkit-animation: ItemAdd 1s;
          animation: ItemAdd 1s;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  width: 84%;
  margin: auto;
  padding-top: 3rem;
}

@media (min-width: 40em) {
  .home {
    padding-top: 15%;
    gap: calc(100vh / 11);
  }
}

@media (min-width: 64em) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 25rem;
    padding-top: 18rem;
    width: 81%;
  }
}

.home-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
  padding-bottom: 2rem;
}

@media (min-width: 40em) {
  .home-text {
    width: 57%;
    gap: 4rem;
  }
}

@media (min-width: 64em) {
  .home-text {
    width: 38%;
    gap: 4rem;
    padding-bottom: 0;
  }
}

.home-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.home-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 5rem;
  line-height: 6.25rem;
}

@media (min-width: 40em) {
  .home-title {
    font-size: 9.375rem;
  }
}

@media (min-width: 64em) {
  .home-title {
    max-width: 100%;
  }
}

.home-para {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.home-btn {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #FFFFFF;
  border-radius: 50%;
  min-width: 9.375rem;
  min-height: 9.375rem;
  color: #0B0D17;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  line-height: 9.375rem;
}

@media (min-width: 40em) {
  .home-btn {
    min-width: 15.125rem;
    min-height: 15.125rem;
    line-height: 15.125rem;
    font-size: 2rem;
  }
}

@media (min-width: 64em) {
  .home-btn {
    margin: 0;
    padding: 0;
    min-width: 17.125rem;
    min-height: 17.125rem;
    line-height: 17.125rem;
    font-size: 2rem;
  }
}

.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  width: 81%;
  margin: 1.7rem auto 0 auto;
  overflow: hidden;
}

@media (min-width: 64em) {
  .destination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8rem auto 0 auto;
    gap: 12rem;
  }
}

.destination-fh {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .destination-fh {
    gap: 3rem;
  }
}

@media (min-width: 64em) {
  .destination-fh {
    gap: 6rem;
  }
}

.destination-fh-header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 40em) {
  .destination-fh-header {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.destination-fh-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  min-width: 10.625rem;
  min-height: 10.625rem;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 40em) {
  .destination-fh-image {
    min-width: 18.75rem;
    min-height: 18.75rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 64em) {
  .destination-fh-image {
    min-width: 27.8125rem;
    min-height: 27.8125rem;
  }
}

.destination-sh {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

@media (min-width: 40em) {
  .destination-sh {
    gap: 1.5rem;
  }
}

@media (min-width: 64em) {
  .destination-sh {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.5rem;
    text-align: left;
  }
}

.destination-sh-options a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
}

.destination-sh-options a:not(:last-child) {
  margin-right: 1.5rem;
}

@media (min-width: 64em) {
  .destination-sh-options a {
    font-size: 1rem;
  }
  .destination-sh-options a:not(:last-child) {
    margin-right: 2.1rem;
  }
}

.destination-sh-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 4rem;
}

@media (min-width: 40em) {
  .destination-sh-title {
    font-size: 5rem;
  }
}

@media (min-width: 64em) {
  .destination-sh-title {
    font-size: 6.25rem;
  }
}

@media (min-width: 40em) {
  .destination-sh-para {
    width: 84%;
  }
}

@media (min-width: 64em) {
  .destination-sh-para {
    width: 95%;
    height: 8rem;
  }
}

.destination-sh-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1px;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.3);
}

@media (min-width: 64em) {
  .destination-sh-divider {
    margin-top: 2rem;
    width: 82%;
  }
}

.destination-sh-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 40em) {
  .destination-sh-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 6rem;
  }
}

@media (min-width: 64em) {
  .destination-sh-footer {
    text-align: left;
  }
}

.destination-sh-footer-distance {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.destination-sh-footer-distance-text {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.3625px;
}

@media (min-width: 40em) {
  .destination-sh-footer-distance-text {
    font-size: 0.875rem;
  }
}

.destination-sh-footer-distance-units {
  font-size: 1.75rem;
}

.destination-sh-footer-time {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.destination-sh-footer-time-text {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.3625px;
}

.destination-sh-footer-time-units {
  font-size: 1.75rem;
}

.crew {
  overflow-x: hidden;
  margin: 1.7rem auto 0 auto;
}

@media (min-width: 64em) {
  .crew {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 8rem auto 0 auto;
    width: 81%;
    height: calc(100vh - 14rem);
    overflow-y: hidden;
  }
}

.crew-fh {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media (min-width: 40em) {
  .crew-fh {
    width: 79%;
    height: calc(100vh - 7.7rem);
    margin: 0 auto 0 auto;
    overflow-y: hidden;
  }
}

@media (min-width: 64em) {
  .crew-fh {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    gap: 1rem;
    height: calc(100vh - 14rem);
  }
}

@media (min-width: 40em) {
  .crew-fh-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 64em) {
  .crew-fh-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 9.625rem;
        flex-basis: 9.625rem;
  }
}

.crew-fh-image {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
  min-width: 20.4375rem;
  min-height: 13.9375rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 40em) {
  .crew-fh-image {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-size: auto calc(100vh / 2);
    background-position: 50% 100%;
    width: 100%;
    min-height: calc(100vh / 2);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
}

@media (min-width: 64em) {
  .crew-fh-image {
    display: none;
  }
}

.crew-fh-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.crew-fh-options-circle {
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 0.625rem;
  height: 0.625rem;
}

@media (min-width: 64em) {
  .crew-fh-options-circle {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}

@media (min-width: 40em) {
  .crew-fh-options {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 64em) {
  .crew-fh-options {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    min-height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.crew-fh-subheader {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: .8;
}

@media (min-width: 40em) {
  .crew-fh-subheader {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 1.5rem;
    opacity: .4;
  }
}

@media (min-width: 64em) {
  .crew-fh-subheader {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 2rem;
    opacity: .4;
  }
}

.crew-fh-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1rem;
}

@media (min-width: 40em) {
  .crew-fh-title {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 2.5rem;
  }
}

@media (min-width: 64em) {
  .crew-fh-title {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.crew-fh-para {
  width: 80%;
}

@media (min-width: 40em) {
  .crew-fh-para {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 64em) {
  .crew-fh-para {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 74%;
    height: 10rem;
  }
}

@media (min-width: 64em) {
  .crew-sh {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .crew-sh-image {
    background-repeat: no-repeat;
    background-size: auto calc(100vh / 1.5);
    background-position: 50% 100%;
    width: calc(100vw / 2.5);
    height: calc(100vh - 13rem);
  }
}
