body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Bellefair', serif;
}

h5, p {
  font-family: 'Barlow Condensed', sans-serif;
}

.navbar {
  position: relative;
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-logo {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: url("../assets/shared/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}

.navbar-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: url("../assets/shared/icon-hamburger.svg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-top: .6rem;
  width: 1.5rem;
  height: 1.3125rem;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  margin: 2.91rem 1.5rem 1.5rem 1.5rem;
}

.intro-text-top {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .16875rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.intro-text-title {
  margin: 0;
  font-size: 5rem;
  line-height: 6.25rem;
  font-weight: normal;
  font-style: normal;
}

.intro-text-body {
  margin: 0;
  letter-spacing: .08rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #D0D6F9;
}

.intro-circle {
  margin-top: 4rem;
  gap: 3rem;
  width: 9.375rem;
  height: 9.375rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 100px;
  text-decoration: none;
}

.intro-circle-text {
  position: absolute;
  left: 19.67%;
  right: 18.33%;
  margin-top: 4rem;
  font-size: 1.25rem;
  letter-spacing: 0.075125rem;
  font-style: normal;
  font-weight: normal;
  color: #0B0D17;
}
